#header {
    background: #f2f2f2;
    min-height: 50px;
    padding: 20px;
    margin-bottom: 20px;
}

#footer {
    background: #f2f2f2;
    min-height: 60px;
    padding: 20px 0 0 0;
    background-color: #f5f5f5;
}