@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,500');

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #shared-footer {
    height: 60px;
}

#shared-header {
    background: #f2f2f2;
    min-height: 50px;
    padding: 20px;
    margin-bottom: 20px;
}

#shared-footer {
    background: #f2f2f2;
    min-height: 60px;
    padding: 20px 0 0 0;
    background-color: #f5f5f5;
}

#shared-header h1 a {
    text-decoration: none;
}

#shared-header h1 a:hover {
    color: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
}

.title h1 {}


/** Misc */
.hide {display: none;}
#error, #success {display: none;}
